<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/01695119-9513-4223-bca3-a3ec942c5fb6/resourcegroups/ToDoApp20190209111005ResourceGroup/providers/Microsoft.Web/sites/ToDoApp20190209111005</ResourceId>
    <ResourceGroup>ToDoApp20190209111005ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todoapp20190209111005.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>todoapp20190209111005.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ToDoApp20190209111005</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ToDoApp20190209111005</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="TodoAppConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:todoapp20190209111005dbserver.database.windows.net,1433;Initial Catalog=ToDoApp20190209111005_db;User ID=todoadmin@todoapp20190209111005dbserver;Password=Windows1!" Name="Data Source=tcp:todoapp20190209111005dbserver.database.windows.net,1433;Initial Catalog=ToDoApp20190209111005_db;User Id=todoadmin@todoapp20190209111005dbserver;Password=Windows1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=ToDoAppNoteSepDb;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TodoAppConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\sqlexpress;initial catalog=ToDoAppNoteSepDb;integrated security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TodoAppConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:todoapp20190209111005dbserver.database.windows.net,1433;Initial Catalog=ToDoApp20190209111005_db;User Id=todoadmin@todoapp20190209111005dbserver;Password=Windows1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>